* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: silver;
}
header {
  width: 850px;
  height: 300px;
  background-color: rgb(66, 103, 178);
  color: whitesmoke;
  position: relative;
  left: 500px;
}
img {
  height: 25px;
  position: relative;
}

.profile_picture {
  border-radius: 3px;
  height: 150px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  box-shadow: 1px 2px rgba(128, 128, 128, 0.37);
  position: relative;
  background-color: rgb(66, 103, 178);
  top: 90px;
  left: 15px;
  z-index: 2;
}

header p {
  font-size: large;
}

.page_title {
  left: 200px;
  top: 215px;
  position: relative;
}

.info_button {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 3px;
  color: rgb(85, 85, 85);
  font-weight: bolder;
  top: 17px;
  left: -15px;
  height: 30px;
  width: 55px;
  float: right;
  font-size: x-large;
  text-align: center;
}

.message_button {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-size: smaller;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.192);
  top: 17px;
  border-radius: 3px;
  height: 30px;
  width: 90px;
  left: -13px;
  float: right;
  text-align: center;
}

.follow_button {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-size: smaller;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.192);
  top: 17px;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  left: -11px;
  float: right;
  color: lightgrey;
  text-align: center;
}

.like_button {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-size: smaller;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.192);
  top: 17px;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  left: -30px;
  float: right;
  text-align: center;
}

nav {
  text-align: center;
  font-size: medium;
  width: 850px;
  height: 50px;
  position: relative;
  left: 500px;
  background-color: whitesmoke;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
  height: 50px;
}

.timeline_nav {
  left: -80px;
  top: 12px;
  font-weight: bold;
  padding-bottom: 14px;
  border-bottom: 3px solid rgb(66, 103, 178);
}

.about_nav {
  left: -50px;
  top: 12px;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 7px;
  border-right: 1px solid rgba(128, 128, 128, 0.521);
}

.welcome_nav {
  left: -35px;
  top: 12px;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 7px;
  border-right: 1px solid rgba(128, 128, 128, 0.521);
}

.FWB_nav {
  left: -20px;
  top: 12px;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 7px;
  border-right: 1px solid rgba(128, 128, 128, 0.521);
}

.more_nav {
  left: 0px;
  top: 12px;
}

#main_content {
  width: 850px;
  position: relative;
  left: 500px;
  top: 20px;
}

.additional_profile_content {
  float: left;
  width: 328px;
  height: 200px;
  background-color: whitesmoke;
}
.additional_profile_content p,
strong {
  position: relative;
  padding-left: 15px;
  top: 40px;
}
.additional_profile_content p {
  color: rgb(66, 103, 178);
  margin-top: 0px;
}

.additional_profile_content a {
  font-weight: bold;
  color: rgb(66, 103, 178);
}
.additional_profile_content strong {
  border-top: 1px solid rgba(128, 128, 128, 0.521);
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 140px;
}
.news_feed {
  float: right;
  width: 512px;
  background-color: whitesmoke;
}

.website_link {
  border-top: 1px solid rgba(128, 128, 128, 0.521);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  position: relative;
  top: 40px;
}

.news_feed {
  font-size: small;
}

.news_feed span:first-child {
  font-weight: bold;
  color: rgb(66, 103, 178);
}

.news_feed span:last-child {
  color: rgb(66, 103, 178);
}

.news_feed p {
  color: darkgrey;
}

.news_feed .update_details {
  margin-bottom: 0px;
  padding-top: 8px;
}

.news_feed .update_time_punch {
  margin-top: 2px;
}

#main_content .profile_picture_small {
  border-radius: 1px;
  height: 50px;
  width: 50px;
  float: left;
  margin: 15px;
  background-color: rgb(66, 103, 178);
}

.update_content {
  height: 180px;
  width: 500px;
  margin: 6px;
  float: left;
  padding: 5px;
  background-color: rgb(66, 103, 178);
}

.reader_interaction_bar {
  float: left;
  color: rgb(66, 103, 178);
  padding: 10px 365px 10px 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.521);
}
